<!DOCTYPE html>
<html>
<head>
    <title>Errors</title>
    <style>
        div.error {
            background-color: #baf5c3;
            padding: 10px;
            margin-bottom: 5px;
        }
        h3 {
            font-size: 26px;
            color: #ffffff;
            background-color: #004a8c;
            padding: 5px 10px;
            margin: 0 0 10px 0;
        }

        div.error-description {
            padding-left: 50px;
        }

        h5 {
            font-size: 22px;
            background-color: #ffd9bd;
            padding: 5px;
            margin: 2px 0;
            max-width: 200px;
        }
        h5.status {
            background-color: #EB6F6F;
        }

        p {
            font-size: 30px;
        }
    </style>
</head>
<body>
    <h1>Errors</h1>

    <% _.forEach(errors, function(error, key) { %>
        <div class="error">
            <h3><%= key %></h3>
            <div class="error-description">
                <h5>Code: <%= error.code %></h5>
                <h5 class="status">Status: <%= error.status %></h5>
                <p>
                    <strong>Message:</strong>
                    <%= error.message %>
                </p>
            </div>
        </div>
    <% }); %>
</body>
</html>